<% provide(:title,"O nas")%>
<h1>O Nas</h1>

<img src="http://ska.pw.edu.pl/wp-content/uploads/2014/07/logo.png" style="display: block; margin-left: auto; margin-right: auto;"/>

<p>Studenckie Koło Astronautyczne (SKA) działa przy wydziale Mechanicznym Energetyki i Lotnictwa Politechniki Warszawskiej już od 1996 roku i zrzesza młodych pasjonatów kosmonautyki. Opiekunem koła jest prof. dr hab. inż. Piotr Wolański. </p>

<p>
SKA współpracuje z wieloma krajowymi i międzynarodowymi organizacjami, między innymi z: Europejską Agencją Kosmiczną (ESA), Centrum Badań Kosmicznych PAN (CBK), Niemiecką Agencją Aeronautyki (DLR), Szwedzką Narodową Radą Kosmiczną (SNSB), Przemysłowym Instytutem Automatyki I Pomiarów (PIAP) oraz Instytutem Lotnictwa (IL).
</p>
