<% provide(:title,"Strona startowa")%>
<div class="center jumbotron">
  <% if current_user %>
    <h1>Witaj <%= current_user.name %></h1>
  <% else %>
    <h1>SKA aplikacja do zarządzania zasobami</h1>
    <%= link_to "Zarejestruj się!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
