<% provide(:title,"Regulamin Koła")%>
<h1>Regulamin Koła</h1>


<style>
h2 {text-align:center;}
h3 {text-align:center;}
strong {text-align:center;}
h4 {text-align:center; padding:0; margin:0;}
</style>

<h2>Definicje i skróty</h2>
Użyte w niniejszym Regulaminie definicje oznaczają:<br/>
<br/> Uczelnia, PW – Politechnika Warszawska;
<br/> Student – osoba kształcąca się na studiach wyższych (jednolitych magisterskich,
pierwszego, drugiego lub trzeciego stopnia) prowadzonych na Politechnice Warszawskiej;
<br/> Koło – Studenckie Koło Astronautyczne Politechniki Warszawskiej;
<br/> Opiekun – Opiekun Naukowy Koła Naukowego;
<br/> Członek – Członek Studenckiego Koła Astronautycznego.
<h2>Rozdział I</h2>
<h3>Postanowienia ogólne</h3>
<h4>§ 1</h4>
Nazwa Koła brzmi Studenckie Koło Astronautyczne, zwane dalej Kołem.</br>
<h4>§ 2</h4></br>
Koło działa przy Wydziale Mechanicznym Energetyki i Lotnictwa Politechniki Warszawskiej.</br>
<h4>§ 3</h4></br>
Koło działa zgodnie z obowiązującym prawem w szczególności z ustawą z dnia 27 lipca 2005 r.
Prawo o szkolnictwie wyższym (Dz. U. z 2012 r., poz. 572 z późn. zm.) oraz ze Statutem
Politechniki Warszawskiej.</br>
<h4>§ 4</h4></br>
Koło nie posiada osobowości prawnej i działa w ramach struktury Politechniki Warszawskiej.</br>
<h4>§ 5</h4></br>
Studenckie Koło Astronautyczne używa następującego tłumaczenia nazwy Koła w języku
angielskim: Students’ Space Association WUT.</br>
<h4>§ 6</h4></br>
Siedzibą Koła jest Instytut Techniki Cieplnej Politechniki Warszawskiej, ulica Nowowiejska 21/25,
00-665 Warszawa.</br>
<h4>§ 7</h4></br>
Koło opiera swoją działalność na pracy społecznej Członków.</br>
<h4>§ 8</h4></br>
Koło jest powołane na czas nieograniczony.</br>
<h4>§ 9</h4></br>
Koło posiada swojego Opiekuna Naukowego.</br>
<h4>§ 10</h4></br>
Studenckie Koło Astronautyczne posiada własne logo oraz własne standardy identyfikacji</br>
graficznej. Wzór logo oraz specyfikacja standardów identyfikacji graficznej znajdują się w
Załączniku nr 1.</br>
<h4>§ 11</h4></br>
Oficjalnym skrótem nazwy Studenckiego Koła Astronautycznego jest SKA.</br>
<h2>Rozdział II</h2>
<h3>Cele Koła</h3>
<h4>§ 12</h4></br>
Celami działalności Koła są:</br>
1) pogłębianie wiedzy, rozwijanie zainteresowań i umiejętności studentów w zakresie
wiedzy dotyczącej zagadnień związanych z inżynierią kosmiczną, astronautyką;</br>
2) nawiązywanie współpracy z organizacjami i ośrodkami akademickimi, których wkład
merytoryczny pozwala poprzez wymianę doświadczeń i wiedzy poszerzyć kompetencje
Członków;</br>
3) sprzyjanie rozwojowi pracy naukowej, twórczej, swobodnej wymianie poglądów
naukowych;</br>
4) integrację środowiska studenckiego i naukowego;</br>
5) popularyzacja astronautyki.</br>
<h4>§ 13</h4></br>
Koło może realizować cele, o których mowa w §11, przez:</br>
1) organizowanie konferencji, seminariów, zjazdów, wykładów i innych spotkań naukowodydaktycznych
związanych z celami Koła;</br>
2) pomoc w samodzielnej pracy naukowej studentów;</br>
3) prowadzenie działalności badawczo-rozwojowych i konstrukcyjnych;</br>
4) Wszelkie inne formy działania dozwolone prawem, a sprzyjające realizacji celów koła.</br>
<h4>§ 14</h4></br>
O sposobie realizacji wytyczonych celów decyduje Zarząd Koła.</br>
<h2>Rozdział III</h2>
<h3>Członkowie Koła</h3>
<h4>§ 15</h4></br>
Członkami Koła mogą być studenci i/lub doktoranci Politechniki Warszawskiej, akceptujący
postanowienia niniejszego regulaminu.</br>
<h4>§ 16</h4></br>
Członkostwo nabywa się na mocy decyzji Zarządu koła na podstawie pisemnej
deklaracji zainteresowanego.</br>
<h4>§ 17</h4></br>
Członek Koła ma prawo:</br>
1) uczestniczenia w Zebraniach Członków;</br>
2) czynnego i biernego prawa wyborczego;</br>
3) korzystania z pomocy pracowników naukowych współpracujących z Kołem;</br>
4) udziału w pracach Koła, korzystania ze wszystkich urządzeń i obiektów Koła;</br>
5) zgłaszania opinii, wniosków i postulatów w sprawie działalności Koła;</br>
6) bycia informowanym o działaniach Koła.</br>
<h4>§ 18</h4></br>
Członek Koła ma obowiązek:</br>
1) przestrzegać postanowień niniejszego Regulaminu oraz uchwał organów Koła;</br>
2) dbać o pozytywny wizerunek Koła i Politechniki Warszawskiej;</br>
3) godne reprezentowanie Koła poprzez swoją działalność i postawę moralną;</br>
4) aktywne uczestnictwo w pracach i formach realizacji celów Koła;</br>
5) uczestnictwo w Walnym Zebraniu;</br>
6) opłacanie składek członkowskich;</br>
7) dbać o Majątek Koła.</br>
<h4>§ 19</h4></br>
Członkostwo ustaje na skutek:</br>
1) wykluczenia – dokonanego w drodze uchwały Zarządu lub Walnego Zebrania, w
przypadku postępowania członka z niniejszym Regulaminem, Statutem PW lub inny
sposób nie dającego się pogodzić z obowiązkami studenta Politechniki Warszawskiej;</br>
2) wykreślenia – na pisemny wniosek samego członka, skreślenia z listy studentów
Politechniki Warszawskiej;</br>
3) śmierci członka.</br>
<h4>§ 20</h4></br>
Zawieszenie w prawach członka:</br>
1) następuje w formie Uchwały Zarządu, na skutek nie dopełniania obowiązków członka;</br>
2) okres czasu zawieszenia ustala zarząd w Uchwale Zarządu, na okres nie dłuższy niż 3
miesiące;</br>
3) zawieszenie nie obejmuje czynnego i biernego prawa wyborczego;</br>
4) zawieszenie ustaje wraz z decyzją Zarządu, nie później niż po 3 miesiącach.</br>
<h4>§ 21</h4></br>
Od uchwały Zarządu o wykluczeniu z Koła lub zawieszeniu w prawach Członka, Członek może się
odwołać do Walnego Zebrania w terminie 7 dni od otrzymania uchwały Zarządu.</br>
<h4>§ 22</h4></br>
Walne Zebranie może nadać tytuł Członka Honorowego osobie, która w sposób wyjątkowy i
zasługujący na szczególne uznanie wspierała swoją działalnością SKA.</br>
<h4>§ 23</h4></br>
Tytuł Absolwenta SKA przysługuje osobie, która z racji zakończenia studiów zakończyła swoją
działalność w SKA.</br>
<h2>Rozdział IV</h2>
<h3>Struktura Studenckiego Koła Astronautycznego</h3>
<h4>§ 24</h4></br>
Władzami Koła są:</br>
1) Walne Zebranie;</br>
2) Zarząd.</br>
<h4>§ 25</h4></br>
W obrębie Koła wyróżniamy następujące grupy:</br>
1) Projekty;</br>
2) Sekcje;</br>
3) Koordynatorzy.</br>
<h3>Walne Zebranie</h3>
<h4>§ 26</h4></br>
1. Walne Zebranie jest najwyższą władzą Koła, zwoływane jest przynajmniej raz w semestrze
oraz:</br>
1) na wniosek pisemny 10% członków;</br>
2) na wniosek opiekuna naukowego;</br>
3) na wniosek Zarządu.</br>
2. Termin i miejsce Walnego Zebrania ustala Zarząd i podaje do wiadomości wszystkich
członków co najmniej na 14 dni przed terminem zebrania.</br>
3. Termin Walnego Zebrania nie może zostać ustalony później niż po 14 dniach od wpłynięcia
wniosku.</br>
4. Walne Zebranie nie może odbywać się w dni wolne od nauki oraz w dzień poprzedzający dzień
wolny od nauki.</br>
5. Do kompetencji Walnego Zebrania należy:</br>
1) określenie głównych kierunków działania i rozwoju Koła;</br>
2) uchwalanie Regulaminu Koła, Załączników do Regulaminu lub ich zmian;</br>
3) wybór, odwoływanie i uzupełnianie składu Zarządu;</br>
4) podjęcie uchwały w sprawie rozwiązania Koła;</br>
5) przyjęcie w drodze uchwały sprawozdania z działalności ustępującego Zarządu Koła;</br>
6) powoływanie i rozwiązywanie Sekcji.</br>
6. Walne Zebranie może być zwyczajne lub nadzwyczajne.</br>
<h4>§ 27</h4></br>
Nadzwyczajne Walne Zebranie:</br>
1) może odbywać się w dowolnym terminie;</br>
2) zwoływane jest w celu przyjęcia uchwał leżących w kompetencjach Walnego</br>
Zebrania, wyróżnionych poniżej:</br>
a) wyboru i odwołania Zarządu Koła lub Członka Zarządu;</br>
b) uchwalenia nowego Regulaminu Koła;</br>
c) podjęcia uchwały o rozwiązaniu Koła;</br>
3) zwoływane jest na wniosek Organów Koła.</br>
<h4>§ 28</h4></br>
Uchwały organów Koła podejmowane są zwykłą większością głosów w obecności co najmniej ½
uprawnionych do głosowania, o ile niniejszy Regulamin nie stanowi inaczej.
<h4>§ 29</h4></br>
1. Uchwały organów Koła nie mogą naruszać powagi lub interesu Politechniki Warszawskiej.</br>
2. Uchwały organów Koła mogą być uchylone przez Rektora Politechniki Warszawskiej w
przypadku ich niezgodności z przepisami prawa, Statutem Politechniki Warszawskiej lub
niniejszym Regulaminem.</br>
<h4>§ 30</h4></br>
Głosami 75% Członków Koła można uchwalić decyzję inną niż w Regulaminie podczas Walnego
Zebrania, ważną do następnego Walnego Zebrania.
<h3>Zarząd</h3>
<h4>§ 31</h4></br>
1. Zarząd jest powołany do kierowania działalnością Koła zgodnie z uchwałami Walnego
Zebrania.</br>
2. Składa się z co najmniej 5 osób.</br>
3. Jest wybierany na okres dwóch semestrów. W przypadku przedterminowego zakończenia
kadencji poprzedniego Zarządu, nowo wybrany Zarząd za zgodą Walnego Zebrania może
przedłużyć kadencję, maksymalnie o jeden semestr.</br>
4. Na pierwszym posiedzeniu wybiera ze swego grona osoby funkcyjne:</br>
1) Prezes</br>
2) Skarbnik</br>
3) Sekretarz</br>
5. Jedna osoba nie może pełnić dwóch funkcji jednocześnie.</br>
6. Posiedzenia Zarządu odbywają się w miarę potrzeb, przynajmniej raz w miesiącu.</br>
7. Posiedzenia Zarządu zwołuje Prezes.</br>
8. Zarząd podejmuje decyzje większością głosów jego składu.</br>
9. Nie wolno łączyć funkcji w Zarządzie z pozycją koordynatora.</br>
10. Członkiem Zarządu można być maksymalnie przez dwie kadencje z rzędu.</br>
11. W przypadku odwołania Członka Zarządu przez Walnego Zebranie, Zarząd przyznaje jego
uprawnienia innemu Członkowi Zarządu.</br>
<h4>§ 32</h4></br>
Oświadczenie woli w imieniu Zarządu oraz Koła może składać Prezes Koła bądź inna osoba
upoważniona przez Prezesa.</br>
<h4>§ 33</h4></br>
Do obowiązków Zarządu należą:</br>
1) realizacja celów regulaminowych Koła;</br>
2) reprezentowanie Koła;</br>
3) sporządzanie planów pracy i budżetu;</br>
4) przyjmowanie i skreślanie Członków;</br>
5) zwoływanie Walnego Zebrania.</br>
<h4>§ 34</h4></br>
Do kompetencji Zarządu należy:</br>
1) podejmowanie decyzji w sprawach Koła nie zastrzeżonych do kompetencji Walnego
Zebrania;</br>
2) ogłaszanie zarządzeń i uchwał;</br>
3) powoływanie i kończenie Projektu;</br>
4) powoływanie i odwoływanie Koordynatora;</br>
5) egzekwowanie uchwał Organów Koła;</br>
6) zawieszanie w prawach Członka Zarządu;</br>
7) tworzenie strategii promocyjnej Koła.</br>
<h4>§ 35</h4></br>
Członkowie Zarządu są powoływani w następujący sposób:</br>
1) członków zarządu wybiera Walne Zebranie;</br>
2) wybór członków zarządu odbywa się przed zakończeniem kadencji poprzedniego
zarządu;</br>
3) wybory członków zarządu są równe, powszechne, bezpośrednie, w głosowaniu tajnym.</br>
<h3>Funkcje Zarządu</h3>
<h4>§ 36</h4></br>
Prezes:</br>
1) przewodniczy obradom Walne Zebrania;</br>
2) odpowiada za kontakty z pracownikami Politechniki Warszawskiej;</br>
3) zwołuje i przewodniczy zebraniom zarządu;</br>
4) kieruje pracami zarządu;</br>
5) odpowiada za przygotowanie sprawozdania z działalności zarządu;</br>
6) koordynuje działalnością Koła;</br>
7) rozdziela zadania;</br>
8) przyjmuje rezygnacje członków Koła;</br>
9) jest odpowiedzialny za zarządzanie środkami finansowymi Koła;</br>
10) odpowiada za kontakt i integrację działań koordynatorów sekcji, projektów.</br>
<h4>§ 37</h4></br>
Sekretarz:</br>
1) prowadzi dokumentację działalności Koła i bieżącej korespondencji;</br>
2) sporządza protokoły ze spotkań Ogólnego (Walnego) Zebrania oraz Zarządu Koła;</br>
3) zajmuje się informowaniem członków o bieżących sprawach Koła;</br>
4) dokonuje pisemnych sprawozdań z każdego zebrania organów Koła.</br>
<h4>§ 38</h4></br>
Skarbnik:</br>
1) jest odpowiedzialny za wydatkowanie środków finansowych Koła;</br>
2) dokonuje operacji finansowych związanych z działalnością Koła, po bezpośrednim
zatwierdzeniu przez Prezesa Koła;</br>
3) sprawuje kontrolę nad terminowym przekazywaniem składek członkowskich
członków Koła;</br>
4) składa raz na pół roku sprawozdanie finansowe całego Koła.</br>
<h4>§ 39</h4></br>
Zastępca:</br>
1) Zastępcą może być inny Członek Zarządu;</br>
2) przejmuje wszelkie uprawnienia i obowiązki nieobecnego Członka Zarządu.</br>
3) Zarząd wybiera Zastępcę Prezesa na pierwszym posiedzeniu.</br>
<h3>Projekty i Sekcje</h3>
<h4>§ 40</h4></br>
1. Projekt posiada:</br>
1) zdefiniowane ramy czasowe oraz harmonogram prac;</br>
2) koordynatora, który prowadzi go w tym okresie;</br>
3) zdefiniowany ilościowo skład osobowy z podziałem zadań;</br>
4) własną strategię promocyjną, zgodną ze strategię promocyjną Koła i PW.</br>
2. Zarząd ma obowiązek przygotować formularz lub zasady zgłaszania projektu.</br>
<h4>§ 41</h4></br>
W przypadku odrzucenia propozycji Projektu przez Zarząd, można złożyć odwołanie do Walnego
Zebrania w terminie 7 dni od odrzucenia.</br>
<h4>§ 42</h4></br>
Sekcja:</br>
1) posiada Koordynatora wybieranego przez Członków Sekcji i Zarząd;</br>
2) może do niej należeć każdy Członek;</br>
3) powoływana na nieograniczony czas;</br>
4) współtworzy strategię promocyjną Koła.</br>
<h3>Koordynatorzy</h3>
<h4>§ 42</h4></br>
Wyróżniamy Koordynatorów:</br>
1) Projektów;</br>
2) Sekcji;</br>
3) do spraw ogólnokołowych.</br>
<h4>§ 43</h4></br>
Obowiązkiem Koordynatora Projektu jest:</br>
1) współpraca z Zarządem;</br>
2) okresowe raportowanie z przebiegu prac;</br>
3) przygotowanie harmonogramu prac i pilnowanie jego przestrzegania;</br>
4) przygotowanie sprawozdania finansowego Projektu.</br>
<h4>§ 44</h4></br>
Obowiązkiem Koordynatora Sekcji jest:</br>
1) współpraca z Zarządem;</br>
2) okresowe raportowanie z przebiegu prac;</br>
3) organizacja prac w ramach przydzielonego zadania;</br>
4) reprezentowanie Projektów realizowanych w ramach Sekcji;</br>
5) przygotowanie sprawozdania finansowego Sekcji.</br>
<h4>§ 45</h4></br>
Obowiązkiem Koordynatora do spraw ogólnokołowych jest:</br>
1) współpraca z Zarządem;</br>
2) okresowe raportowanie z przebiegu prac;</br>
3) organizacja prac w ramach przydzielonego zadania.</br>
<h2>Rozdział V</h2>
<h3>Opiekun</h3>
<h4>§ 46</h4></br>
1. Opiekunem naukowym może być pracownik PW.</br>
2. Opiekun naukowy wybierany jest na czas nieokreślony.</br>
<h4>§ 47</h4></br>
Do kompetencji Opiekuna Koła należy:</br>
1) Wspierania i koordynacja działalności Koła;</br>
2) Zatwierdzanie tematów badawczych podejmowanych przez Koła i merytoryczna pomoc w
ich realizacji.</br>
<h2>Rozdział VI</h2>
<h3>Majątek Koła</h3>
<h4>§ 48</h4></br>
Majątek Koła dzielimy na:</br>
1) Finanse;</br>
2) Dobra materialne.</br>
<h3>Finanse</h3>
<h4>§ 49</h4></br>
1. Dla realizacji swoich celów Koło korzysta ze środków finansowych:</br>
1) składek Członków;</br>
2) środków pieniężnych przekazanych przez Władze Politechniki Warszawskiej;</br>
3) darowizn osób fizycznych, prawnych i instytucji zainteresowanych wspieraniem Koła;</br>
4) innych źródeł.</br>
2. Finanse Koła są jawne;</br>
3. Wysokość składek członkowskich ustalana jest przez Zarząd na dany rok akademicki;</br>
4. Finanse Koła przeznaczone są w całości na jego działalność określoną w Regulaminie;</br>
5. Odpowiedzialny za finanse Koła jest Prezes i Skarbnik Koła;</br>
6. Dla ważności dokumentów finansowych wymagane są podpisy Prezesa albo Skarbnika (w razie
ich nieobecności dwóch innych członków Zarządu) oraz osoby odpowiedzialnej za
przygotowanie dokumentu.</br>
<h3>Dobra materialne</h3>
<h4>§ 50</h4></br>
Wszelkie rzeczy darowane Kołu bądź zakupione dla Koła w celu realizacji Projektów w SKA
są własnością Politechniki Warszawskiej.</br>
<h4>§ 51</h4></br>
Za dysponowanie nimi odpowiadają Opiekun i Członkowie SKA.</br>
<h2>Rozdział VII</h2>
<h3>Zmiany Regulaminu i rozwiązanie SKA</h3>
<h4>§ 52</h4></br>
1. Zmiany dotyczące Regulaminu wprowadza się w drodze uchwały Walnego Zebrania
przyjętej bezwzględną większością głosów w obecności co najmniej połowy uprawnionych
do głosowania.</br>
2. Uchwała w sprawie zmiany Regulaminu wymaga zatwierdzenia przez Rektora Politechniki
Warszawskiej.</br>
3. Regulamin uprawomocnia się po spełnieniu ust. 1 i 2 oraz udostępnienia go wszystkim
członkom koła w wersji papierowej, bądź elektronicznej.</br>
<h4>§ 53</h4></br>
Rozwiązanie Koła następuje na drodze:</br>
1) Uchwały Walnego Zebrania, przyjętej 2/3 głosami wszystkich uprawnionych do
głosowania;</br>
2) decyzji Rektora o wykreśleniu z Rejestru;</br>
3) uchwały Senatu Politechniki Warszawskiej, podjętej na wniosek Rektora Politechniki
Warszawskiej, na podstawie ustawy z dnia 27 lipca 2005 r. Prawo o szkolnictwie wyższym
(Dz. U. z 2012 r., poz. 572 z późn. zm.);</br>
4) Uchwała o rozwiązaniu Koła rozstrzyga o podziale i przeznaczeniu funduszy i majątku
Koła</br>
