<% provide(:title, "Logowanie")%>
<h1>Wprowadź dane, aby się zalogować</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(:session, url: log_in_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, "Hasło" %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Nie wylogowuj</span>
  <% end %>

  <%= f.submit "Zaloguj" , class: 'btn btn-primary'%>
<%end %>

  <p>Nie masz konta? <%= link_to "Zarejestruj się!", signup_path %></p>
    </div>
  </div>
