<% provide(:title, 'Typy rzeczy') %>
<h1>Typy rzeczy posiadanych przez koło</h1>
<%= will_paginate %>
<% if current_user.member?  %>
  <h2><%= link_to "Dodaj typ", new_object_type_path %></h2>
<% end%>
<ol class="sections">
  <% @object_types.each do |object_type| %>
      <li>
            <%= link_to object_type.name, object_type_path(object_type)  %>
            <%= " |  Kategoria: #{object_type.category}" %>
      </li>
    <% end %>
</ol>
<%= will_paginate %>
