<% provide(:title, 'Dodaj typ') %>
<h1>Wprowadź parametry nowego typu</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@object_type, url: object_types_path) do |f| %>

      <%= f.label :name, "Nazwa" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%=  f.collection_select(:category, @categories, :to_s, :to_s) %>

      <h2>Opcjonalne</h2>
      <%= f.label :note, "Uwagi" %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
