<% provide(:title, @object_type.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @object_type.name %>
        <% if current_user.member? %>
         (<%= link_to "Edytuj", edit_object_type_path(@object_type) %>/<%= link_to "Usuń", object_type_path(@object_type), method: :delete,  data: { confirm: "Czy aby na pewno usunąć ten typ?" }%>)
        <%end%>
      </h1>
      </br>
        Kategoria: <%= @object_type.category %></br>
        Data dodania: <%=  @object_type.created_at %></br>
        Data ostatniej aktualizacji: <%= @object_type.updated_at %></br>
        Uwagi: <%= @object_type.note %>
    </section>
  </aside>
</div>
