<% provide(:title, "Edycja przedmiotu") %>
<h1>Edytuj dane przedmiotu</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@thing, url: thing_path(@thing)) do |f| %>

      <%= f.label :serial_number, "Numer seryjny" %>
      <%= f.text_field :serial_number, class: 'form-control' %>

      <%= f.label :object_type_id, "Typ przedmiotu" %>
      <%=  f.collection_select(:object_type_id, @object_types, :id, :name) %>

      <%= f.label :state, "Stan" %>
      <%=  f.collection_select(:state, @states, :to_s, :to_s) %>
      <%= f.hidden_field  :supervisor_id  %>

      <h2>Opcjonalne</h2>
      <%= f.label :note, "Uwagi" %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
