<% provide(:title, 'Egzemplarze') %>
<h1>Posiadane przez koło przedmioty</h1>

<%= form_tag(things_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<%= will_paginate %>
<% if current_user.member?  %>
  <h2><%= link_to "Dodaj przedmiot", new_thing_path %></h2>
<% end%>
<ol class="sections">
  <% @things.each do |thing| %>
      <li>
            <%= link_to thing.serial_number, thing_path(thing)  %>
            <%= " #{thing.object_type.name} |  stan: #{thing.state}" %>
            <% if current_user.member? %>
                     <% if thing.borrowings.where(returned_at: nil).empty? %>
                        |  <%= link_to 'Wypożycz', borrow_path(borrow: {thing_id: thing.id,
                                               user_id: current_user.id}), method: :post %>
                     <% end %>
            <% end %>
      </li>
    <% end %>
</ol>
<%= will_paginate %>
