<% provide(:title, 'Dodaj przedmiot') %>
<h1>Wprowadź cechy przedmiotu</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@thing, url: things_path) do |f| %>

      <%= f.label :serial_number, "Numer seryjny" %>
      <%= f.text_field :serial_number, class: 'form-control' %>

      <%=  f.collection_select(:object_type_id, @object_types, :id, :name) %>
      <%= f.hidden_field  :supervisor_id  %>
      <%= f.hidden_field  :state  %>

      <h2>Opcjonalne</h2>
      <%= f.label :note, "Uwagi" %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
