<% provide(:title, @thing.serial_number) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @thing.serial_number %>
        <% if current_user.member? %>
         <%= link_to "(Edytuj)", edit_thing_path(@thing) %>
        <%end%>
      </h1>
      <h2><%= @thing.object_type.name %></h2>
      </br>
        Status: <%= @thing.state %>
        <% if current_user.member? %>
          <% if @thing.borrowings.where(returned_at: nil).empty? %>
               |  <%= link_to 'Wypożycz', borrow_path(borrow: {thing_id: @thing.id,
                                    user_id: current_user.id}), method: :post %>
          <% end %>
        <% end %>
        <% if !@borrower.nil? %>
        </br>Wypożyczony przez <%= link_to "#{@borrower.name} #{@borrower.surname}", user_path(@borrower) %> <%=
                                      "#{@thing.borrowings.last.created_at}" %>
        <% end %>
        </br>
        Opiekun: <%= "#{@supervisor.name} #{@supervisor.surname}" %></br>
        Kategoria: <%=  @thing.object_type.category %></br>
        Przyporządkowany do projektów: <% if  @thing.projects.empty?  %>
        <%= "---" %>
          <% else %>
          <ol>
          <% @thing.projects.each do |project| %>
          <li>
            <%= link_to project.name, project_path(project)  %>
          </li>
          <% end %>
          </ol>
        <% end %>
        <%= link_to "(dodaj do projektu)", add_thing_to_project_path(@thing) if current_user.member? %>
        </br>
        Data dodania: <%=  @thing.created_at %></br>
        Data ostatniej modyfikacji: <%=  @thing.updated_at %></br>
        Uwagi: <%= @thing.note %>
      </br>
    </section>
  </aside>
</div>
