<% provide(:title, "Edycja profilu") %>
<h1>Edytuj swoje dane</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
        <%= f.label :name, "Imię" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :surname, "Nazwisko"%>
        <%= f.text_field :surname, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "Hasło" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Potwierdź hasło" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <h2>Dane dodatkowe</h2>
        <%= f.label :phone_number, "Numer telefonu" %>
        <%= f.text_field :phone_number, class: 'form-control' %>

        <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
      <% end %>

  </div>
</div>
