<% provide(:title, 'Użytkownicy') %>
<h1>Lista użytkowników</h1>

<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to "#{user.name} #{user.surname}", user %>
      <% if current_user.coordinator? && !current_user?(user) %>
          | <%= link_to "Usuń konto", user, method: :delete,
                                        data: { confirm: "Czy aby na pewno usunąć użytkownika?" } %>
      <% end %>
      <% if current_user.coordinator? && !user.activated? %>
          | <%= link_to "Aktywuj", activate_path(user) %>
        <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
