<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> <%= @user.surname %>
        <% if @user == current_user || current_user.coordinator? %>
         <%= link_to "(Edytuj)", edit_user_path(@user) %>
        <%end%>
      </h1>
      <h2>
        <% if @user.coordinator? %>
        Koordynator
        <% elsif @user.member? %>
        Członek
        <% elsif @user.supervisor? %>
        Opiekun koła
        <% elsif @user.activated? %>
        Rekrut
        <% else %>
        Konto nieaktywne
        <% end %>
      </h2>
      </br>
        Email: <%= @user.email %></br>
        Numer telefonu: <%=  @user.phone_number.blank? ? "---" : @user.phone_number%></br>
        Sekcje: <% if  @user.sections.empty?  %>
        <%= "---" %>
          <% else @user.sections.each do |section| %>
          <%= section.name  %>
          <% end %>
        <% end %>
        </br>
        Data wstąpienia: <%=  @user.activated_at.nil? ? "---" : @user.activated_at%></br>
        <% if current_user.coordinator? && @user.activated? %>
          <% if @user.member? %>
            <%= form_for(@section_membership, url: add_membership_path) do |f| %>
              <%= f.label :section_id, "Dołącz użytkownika do sekcji" %>
              <%=  f.collection_select(:section_id, @sections, :id, :name) %>
              <%= f.hidden_field  :member_id  %>
              <%= f.submit "Dodaj", class: "btn btn-primary" %>
            <%end%>
          <%else%>
            Nie można dołączyć do sekcji, gdy nie jest członkiem
            <%= link_to "Mianuj członkiem", promote_path(@user) %>
          <%end%>
        <%end%>
      </br>
    </section>
  </aside>
</div>
<h1> Projekty </h1>
<ol class="sections">
  <% @user.projects.each do |project| %>
      <li>
            <%= link_to project.name, project_path(project)  %>
            <%= " | Zakończony" unless project.finished_at.nil? %>
      </li>
    <% end %>
</ol>
<h1> Sprawozdania </h1>
<ol class="sections">
  <% @user.raports.each do |raport| %>
      <li>
            <%= link_to raport.created_at, raport_path(raport)  %>
            <%= "Projekt: #{raport.project.name}" %>
      </li>
    <% end %>
</ol>
<h1>Materiały za które jest odpowiedzialny</h1>
<ol class="sections">
  <% @user.materials.each do |material| %>
      <li>
            <%= link_to material.name, material_path(material)  %>
      </li>
    <% end %>
</ol>
<h1>Przedmioty za które jest odpowiedzialny</h1>
<ol class="sections">
  <% @user.things.each do |thing| %>
      <li>
            <%= link_to thing.serial_number, thing_path(thing)  %>
            <%= " | #{thing.object_type.name}" %>
      </li>
    <% end %>
</ol>
<h1>Wypożyczone przedmioty</h1>
<ol class="sections">
  <% @user.currently_borrowed.each do |thing| %>
      <li>
            <%= link_to thing.serial_number, thing_path(thing)  %>
            <%= " | #{thing.object_type.name}" %>
            <%= " | #{thing.borrowings.last.created_at}" %>
            <% if current_user == @user %>
              <%= link_to "Zwróć", return_path(thing_id: thing.id), method: :post %>
            <% end %>
      </li>
    <% end %>
</ol>
