<% provide(:title, "Członkowie sekcji #{@section.name}") %>
<h1><%= @section.name %></h1>
<h1>Lista członków</h1>

<ul class="users">
  <% @members.each do |member| %>
    <li <%= 'class=coordinator' if @section.coordinator == member %>>
      <%= link_to "#{member.name} #{member.surname}", member %>
        Dołączył: <%= @relations.find_by(member_id: member.id).created_at %>
        <% if @relations.find_by(member_id: member.id).historical? %>
           <%= "|   Zaprzestanie działalności: #{@relations.find_by(member_id: member.id).updated_at}" %>
        <% elsif current_user.coordinator? %>
          <%= link_to "|   Usuń z sekcji", destroy_membership_path(member_id: member.id, section_id: @section.id), method: :post,
                                                              data: { confirm: "Czy aby na pewno usunąć użytkownika?" } %>
            <% if current_user == @section.coordinator && current_user != member %>
              <%= link_to "|   Uczyń kierownikiem", coordinate_path(member_id: member.id, section_id: @section.id),
                                       method: :post, data: { confirm: "Czy na pewno mianować kierownikiem?" } %>
            <% end %>
        <% end %>

    </li>
  <% end %>
</ul>

<h1> Projekty </h1>
<ol class="sections">
  <% @section.projects.each do |project| %>
      <li>
            <%= link_to project.name, project_path(project)  %>
            <%= " | Zakończony" unless project.finished_at.nil? %>
      </li>
    <% end %>
</ol>

