<% provide(:title, 'Dodaj członka do projektu') %>
<h2><%= link_to "POWRÓT" , project_path(params[:id]) %></h2>
<%= will_paginate @users %>
<ul class="users">
  <% @users.each do |user| %>
  <% unless user.projects.include?(Project.find(params[:id])) %>
    <li>
        <%= "#{user.name} #{user.surname},  " %>
        <%= link_to "Dodaj członka", create_project_member_path(project_id: params[:id],member_id: user.id), method: :post %>
    </li>
    <%end%>
  <% end %>
</ul>
<%= will_paginate @users %>
