<% provide(:title, "Stwórz nowy raport") %>
<h1>Wprowadź dane raportu</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@raport, url: raports_path) do |f| %>

      <%= f.label :content, "Treść:" %>
      <%= f.text_area :content, class: 'form-control' %>
      <%= f.hidden_field :author_id %>
      <%= f.hidden_field :project_id %>

      <%= f.submit "Dodaj sprawozdanie", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
