<% provide(:title, "Raport") %>

<h1>Sprawozdanie <%= @raport.created_at %></h1>
<h2>Autor: <%= "#{@author.name} #{@author.surname}" %> </h2>
<h2>Projekt: <%= "#{@project.name}" %> </h2>
<section>
<%= @raport.content %>
</section>
