<% provide(:title, "Projekty") %>

<%= form_tag(projects_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<% if current_user.coordinator?  %>
  <h1><%= link_to "Dodaj projekt", new_project_path %></h1>
<% end%>
<ol class="sections">
  <% @projects.each do |project| %>
      <li>
            <%= link_to project.name, project_path(project)  %>
            <%= " | Zakończony" unless project.finished_at.nil? %>

            <% if current_user.coordinator && project.finished_at.nil?%>
                | <%= link_to "Archiwizuj", project_path(project) , method: :delete,
                                              data: { confirm: "Czy aby na pewno zarchiwizować projekt?" } %>
            <% end %>
      </li>
    <% end %>
</ol>
