<% provide(:title, 'Nowy projekt') %>
<h1>Wprowadź dane projektu</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project, url: new_project_path) do |f| %>

      <%= f.label :name, "Nazwa projektu" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
