<% provide(:title, "Projekt #{@project.name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @project.name %>
      </h1>
      <h2>
        Kierownik: <%= @project.coordinator_id.nil? ? "---" : "#{User.find(@project.coordinator_id).name} #{User.find(@project.coordinator_id).surname}" %>
      </h2>
      </br>
        Sekcje: <% if  @project.sections.empty?  %>
        <%= "---" %>
          <% else @project.sections.each do |section| %>
          <%= section.name %>
          <% end %>
        <% end %>
        </br>
        Data rozpoczęcia: <%=  @project.created_at %></br>
        <%= "Data zakończenia: #{@project.finished_at}\n" unless @project.finished_at.nil? %>
        <% if current_user.coordinator? && @project.finished_at.nil? %>
            <%= form_for(@section_membership, url: add_project_to_section_path) do |f| %>
              <%= f.label :section_id, "Dołącz projekt do sekcji" %>
              <%=  f.collection_select(:section_id, @sections, :id, :name) %>
              <%= f.hidden_field  :project_id  %>
              <%= f.submit "Dodaj", class: "btn btn-primary" %>
            <% end %>
        <% end %>
      </br>
    </section>
  </aside>
</div>

<h1>Lista członków <%= link_to "(Dodaj)", new_project_member_path if current_user.coordinator? %></h1>

<ul class="users">
  <% @members.each do |member| %>
    <li <%= 'class=coordinator' if @project.coordinator == member %>>
      <%= link_to "#{member.name} #{member.surname}", member %>
        Dołączył: <%= @relations.find_by(member_id: member.id).created_at %>
        <% if @relations.find_by(member_id: member.id).historical? %>
           <%= "|   Zaprzestanie działalności: #{@relations.find_by(member_id: member.id).updated_at}" %>
        <% elsif current_user.coordinator? %>
          <%= link_to "|   Usuń z projektu", destroy_project_member_path(member_id: member.id, project_id: @project.id),
                                                method: :post, data: { confirm: "Czy aby na pewno usunąć użytkownika?" } %>
            <% if (current_user == @project.coordinator && member != @project.coordinator) || (current_user.coordinator? && @project.coordinator_id.nil?) %>
              <%= link_to "|   Uczyń kierownikiem", coordinate_project_path(member_id: member.id, project_id: @project.id),
                                       method: :post, data: { confirm: "Czy na pewno mianować kierownikiem?" } %>
            <% end %>
        <% end %>

    </li>
  <% end %>
</ul>

<h1>Lista sprawozdań <%= link_to "(Dodaj)", new_raport_path(project_id: @project.id) if current_user.projects.include?(@project) %></h1>

<ol class="sections">
  <% @raports.each do |raport| %>
      <li>
            <%= link_to raport.created_at , raport_path(raport)  %>
            <%= User.find_by(id: raport.author_id).surname %>
      </li>
    <% end %>
</ol>

<h1>Lista przyporządkowanych przedmiotów</h1>

<ol class="sections">
  <% @things.each do |thing| %>
      <li>
            <%= link_to thing.serial_number , thing_path(thing)  %> |
            <%= link_to "Odłącz od projektu", project_things_relation_path(ProjectThingsRelation.find_by(project_id: @project.id, thing_id: thing.id)), method: :delete, data: { confirm: "Czy na pewno usunąć przedmiot z projektu?" } %>
      </li>
    <% end %>
</ol>



