<% provide(:title, "Edycja materiału") %>
<h1>Zmień liczbę sztuk <%= "(lub edytuj parametry)" if current_user.member? %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@material) do |f| %>

      <%= f.label :amount, "Ilość"%>
      <%= f.text_field :amount, class: 'form-control' %>

      <% if current_user.member? %>

      <%= f.label :name, "Nazwa" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%=  f.collection_select(:category, @categories, :to_s, :to_s) %>
      <%= f.hidden_field  :supervisor_id  %>

      <h2>Opcjonalne</h2>
      <%= f.label :note, "Uwagi" %>
      <%= f.text_field :note, class: 'form-control' %>

      <% else %>

      <%= f.hidden_field :name, class: 'form-control' %>

      <%=  f.hidden_field :category %>
      <%= f.hidden_field  :supervisor_id  %>

      <%= f.hidden_field :note %>


      <% end %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
