<% provide(:title, 'Materiały') %>
<h1>Posiadane przez koło materiały</h1>

<%= form_tag(materials_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<%= will_paginate %>
<% if current_user.member?  %>
  <h2><%= link_to "Dodaj materiał eksploatacyjny", new_material_path %></h2>
<% end%>
<ol class="sections">
  <% @materials.each do |material| %>
      <li>
            <%= link_to material.name, material_path(material)  %>
            <%= "Ilość: #{material.amount} |  " %>
            <%= link_to "zmień ilość", edit_material_path(material) if current_user.member? %>
      </li>
    <% end %>
</ol>
<%= will_paginate %>
