<% provide(:title, 'Dodaj materiał') %>
<h1>Wprowadź cechy materiału</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@material, url: materials_path) do |f| %>

      <%= f.label :name, "Nazwa" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :amount, "Ilość"%>
      <%= f.text_field :amount, class: 'form-control' %>

      <%=  f.collection_select(:category, @categories, :to_s, :to_s) %>
      <%= f.hidden_field  :supervisor_id  %>

      <h2>Opcjonalne</h2>
      <%= f.label :note, "Uwagi" %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.submit "Wyślij formularz", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
