<% provide(:title, @material.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @material.name %>
        <% if current_user.member? %>
         <%= link_to "(Edytuj)", edit_material_path(@material) %>
        <%end%>
      </h1>
      </br>
        Liczba sztuk: <%= @material.amount %></br>
        Kategoria: <%= @material.category %></br>
        Opiekun: <%=  @user.nil? ? "---" : "#{@user.name} #{@user.surname}"%></br>
        Data dodania: <%=  @material.created_at %></br>
        Data ostatniej aktualizacji: <%= @material.updated_at %></br>
        Uwagi: <%= @material.note %>
    </section>
  </aside>
</div>
