<% provide(:title, 'Dodaj przedmiot do projektu') %>
<h2><%= link_to "POWRÓT" , thing_path(params[:id]) %></h2>
<%= will_paginate @projects %>
<ul class="users">
  <% @projects.each do |project| %>
  <% unless project.things.include?(Thing.find(params[:id])) %>
    <li>
        <%= project.name %>
        <%= link_to "Dodaj do projektu", project_things_relations_path(thing_id: params[:id],project_id: project.id), method: :post %>
    </li>
    <%end%>
  <% end %>
</ul>
<%= will_paginate @projects %>
