<footer class="footer">
  <small>
    Strona należy do Studenckiego Koła Astronautycznego przy Politechnice Warszwskiej
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas",   about_path %></li>
      <li><%= link_to "Regulamin",   rules_path %></li>
    </ul>
  </nav>
</footer>
