<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "SKA", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Rzeczy <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Egzemplarze", things_path %></li>
                        <li><%= link_to "Typy", object_types_path %></li>
                      </ul>
                    </li>
                    <li><%= link_to "Materiały eksploatacyjne", materials_path %></li>
                    <li><%= link_to "Projekty", projects_path %></li>
                    <li><%= link_to "Sekcje", sections_path %></li>
                     <li><%= link_to "Użytkownicy", users_path %></li>
                     <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         Konto <b class="caret"></b>
                       </a>
                       <ul class="dropdown-menu">
                         <li><%= link_to "Profil", current_user %></li>
                         <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
                         <li class="divider"></li>
                         <li>
                           <%= link_to "Wyloguj", logout_path, method: :delete %>
                         </li>
                       </ul>
                     </li>
            <% else %>
               <li><%= link_to "Zaloguj", log_in_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
